<div class="education-section">
  <div class="container">
    <div class="education-list">
      <div class="education-item" *ngFor="let item of educationItems">
        <div class="education-header">
          <div class="education-icon">
            <i [class]="item.icon"></i>
          </div>
          <div class="education-content">
            <h3 class="degree-title">{{ item.title }}</h3>
            <h4 class="institution">{{ item.institution }}</h4>
            <div class="education-meta">
              <div class="meta-item">
                <i class="bi bi-calendar3"></i>
                <span>{{ item.date }}</span>
              </div>
              <div class="meta-item" *ngIf="getStatusText(item.date)">
                <i [class]="getStatusIcon(item.date)"></i>
                <span>{{ getStatusText(item.date) }}</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="education-description" *ngIf="item.description">
          {{ item.description }}
        </div>
        
        <ul class="achievements-list" *ngIf="item.achievements && item.achievements.length > 0">
          <li class="achievement" *ngFor="let achievement of item.achievements">
            {{ achievement }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>