<div class="experience-section">
  <div class="container">
    <div class="timeline">
      <div class="timeline-item" *ngFor="let exp of experiences; let i = index">
        <div class="experience-card">
          <div class="experience-header">
            <h3 class="job-title">{{ 'experiences.' + exp.id + '.title' | translate }}</h3>
            <h4 class="company">{{ 'experiences.' + exp.id + '.subtitle' | translate }}</h4>
            <div class="job-meta">
              <div class="meta-item">
                <i class="bi bi-calendar3"></i>
                <span>{{ 'experiences.' + exp.id + '.date' | translate }}</span>
              </div>
              <div class="meta-item" *ngIf="exp.location">
                <i class="bi bi-geo-alt"></i>
                <span>{{ exp.location }}</span>
              </div>
            </div>
          </div>
          
          <ul class="achievements" *ngIf="exp.tasks && exp.tasks.length > 0">
            <li class="achievement-item" *ngFor="let task of ('experiences.' + exp.id + '.tasks' | translate); let i = index">
              {{ task }}
            </li>
          </ul>
          
          <div class="tech-stack" *ngIf="getTechForExperience(i).length > 0">
            <span class="tech-tag" *ngFor="let tech of getTechForExperience(i)">
              {{ tech }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>