<app-nav></app-nav>
<section
  id="experience"
  class="experience"
  data-selected="true"
  data-label-id="0"
>
  <div class="container">
    <br />
    <hr />
    <div class="d-flex justify-content-between">
      <div class="col-2 d-none d-sm-block">
        <a
          routerLink="/education"
          class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
        >
          <i class="bi bi-arrow-left-circle"></i> Mi Educación</a
        >
      </div>
      <div class="d-flex justify-content-center">
        <h2>Mi Experiencia</h2>
        <i
          ><img
            src="https://cdn-icons-png.flaticon.com/512/5313/5313129.png"
            class="img-button"
          />
        </i>
      </div>
      <div class="d-none d-sm-block">
        <!-- <a
          routerLink="/curriculum"
          class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
        >
          Mi Investigación <i class="bi bi-arrow-right-circle"></i
        ></a> -->
      </div>
    </div>

    <hr />
    <br />
    <div class="content">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <!-- <h3>Desarrollador de Software | Analista de Datos</h3> -->
              <h3>Desarrollador de Software</h3>
              <h5>Freelance - Actualidad</h5>
              <h6>Quito - Ecuador</h6>
              <br />
              <p class="card-text">Tareas realizadas:</p>
              <ul>
                <li>
                  <i class="list-group-item"></i>
                  <span>
                    Participé en el desarrollo de la plataforma Proyecto
                    ASOBANCA en la empresa CEER, enfocándome en la elaboración
                    de pantallas de la aplicación.
                  </span>
                </li>
                <li>
                  <i class="list-group-item"></i>
                  <span>
                    Colaboro en el mejoramiento tanto el backend como el frontend del aplicativo
                    Billusos, implementando mejoras significativas para aumentar
                    su rendimiento y usabilidad.
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="https://static.vecteezy.com/system/resources/thumbnails/019/153/003/small/3d-minimal-programming-icon-coding-screen-web-development-concept-laptop-with-a-coding-screen-and-a-coding-icon-3d-illustration-png.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h3>Full Stack Developer Jr</h3>
              <h5>
                Centro Ecuatoriano de eficiencia de Recursos - 02/2023 - 09/2023
              </h5>
              <h6>Quito - Ecuador</h6>
              <br />
              <p class="card-text">Tareas realizadas:</p>
              <ul>
                <li>
                  <i class="list-group-item"></i>
                  <span>
                    Maquetación de pantallas cliente para el sistema CONAFIS
                    SARAS.
                  </span>
                </li>
                <li>
                  <i class="list-group-item"></i>
                  <span>
                    Configuración de equipos de trabajo en el área de
                    desarrollo.
                  </span>
                </li>
                <li>
                  <i class="list-group-item"></i>
                  <span>
                    Manejo de base de datos y generación de scripts para el
                    sistema CONAFIPS SARAS.
                  </span>
                </li>
                <li>
                  <i class="list-group-item"></i>
                  <span>
                    Desarrollo de la plataforma SARAS
                    <a
                      href="https://saras.finanzaspopulares.gob.ec/View/SARAS/index.php"
                      target="_blank"
                      >Link</a
                    >
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="https://pbs.twimg.com/profile_images/997152929911136256/ALjrjqbO_400x400.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
        </div>
      </div>
      <!-- <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h3>Pasante en Desarrollo Frontend</h3>
              <h5>LATIN TRAILS - 09/2022 - 01/2023</h5>
              <h6>Quito - Ecuador</h6>
              <br />
              <p class="card-text">Tareas realizadas:</p>
              <ul>
                <li>
                  <i class="list-group-item"></i>
                  <span>
                    Actualización del sitio web de la empresa utilizando las
                    tecnologías Nuxt y Vue.
                  </span>
                </li>
                <li>
                  <i class="list-group-item"></i>
                  <span>
                    Creación de información necesaria para la creación de mapas
                    interactivos (Coordenadas, descripciones, imágenes, etc).
                  </span>
                </li>
                <li>
                  <i class="list-group-item"></i>
                  <span>
                    Pagina principal Latin Trains:
                    <a href="https://latintrails.com/" target="_blank">Link</a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="https://latintrails.com/wp-content/uploads/2022/02/Latin-Trails.svg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h3>Pasante en Sistemas</h3>
              <h5>
                Información Tecnológica del Ecuador S.A - 03/2022 - 08/2022
              </h5>
              <h6>Quito - Ecuador</h6>
              <br />
              <p class="card-text">Tareas realizadas:</p>
              <ul>
                <li>
                  <i class="list-group-item"></i>
                  <span> Actualización de documentación de software.</span>
                </li>
                <li>
                  <i class="list-group-item"></i>
                  <span>
                    Investigación de herramientas para gestión de actividades
                    telemáticas.</span
                  >
                </li>
                <li>
                  <i class="list-group-item"></i>
                  <span>
                    Configuración de herramientas de gestión de actividades
                    telemáticas personalizadas para la necesidad de la
                    empresa.</span
                  >
                </li>
                <li>
                  <i class="list-group-item"></i>
                  <span>
                    Desarrollo de software satélite al sistema principal de la
                    empresa (CG/Web) enfocado al equipo de desarrollo.</span
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="http://itdelecuador.com/img/logo4.jpeg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
        </div>
      </div> -->
    </div>

    <div class="d-flex justify-content-between">
      <div class="col-2 d-none d-sm-block">
        <a
          routerLink="/education"
          class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
        >
          <i class="bi bi-arrow-left-circle"></i> Mi Educación</a
        >
      </div>
      <!-- <div class="d-none d-sm-block">
        <a
          routerLink="/curriculum"
          class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
        >
          Mi Investigación <i class="bi bi-arrow-right-circle"></i
        ></a>
      </div> -->
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <button type="button" class="btn btn-outline-success"><strong><i class="bi bi-person"></i> CONTÁCTAME</strong> </button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
