<footer class="pt-2 my-2 text-body-secondary border-top">
        <a href="#home" class="arriba">
            <i class="bi bi-eject"></i>
        </a>
        <br>
        Created by Miguel Muzo · © 2024
        <!-- <div class="redes">
            <a href="https://www.linkedin.com/in/eduardo-miguel-muzo-6379b2234/" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://wa.me/593999763190?text=Hola%20Miguel" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://github.com/Miguel-EMC" target="_blank"><i class="bi bi-github"></i></a>
            <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=eduardomuzo123456@gmail.com"  target="_blank"><i class="bi bi-envelope"></i></a>
        </div> -->
</footer>