<app-nav></app-nav>
<section id="education" class="about" data-selected="true" data-label-id="0">
  <div class="container">
    <br />
    <hr />
    <div class="d-flex justify-content-between">
      <div class="col-2 d-none d-sm-block">
        <a
          href="#aboutme"
          class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
        >
          <i class="bi bi-arrow-left-circle"></i> Sobre Mí</a
        >
      </div>
      <div class="d-flex justify-content-center">
        <h2>Mi Eduación</h2>
        <i
          ><img
            src="https://cdn-icons-png.flaticon.com/512/10782/10782161.png"
            class="img-button"
          />
        </i>
      </div>
      <div class="d-none d-sm-block">
        <a
          routerLink="/curriculum"
          class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
        >
          Mi Experiencia <i class="bi bi-arrow-right-circle"></i
        ></a>
      </div>
    </div>

    <hr />
    <br />
    <div class="content">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://fis.epn.edu.ec/images/logo-FIS-sin-fondo.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3>Ingeniería en Computación</h3>
              <h5>Escuela Politécnica Nacional - Actualidad</h5>
              <p class="card-text">
                Actualmente, estoy estudiando ingeniería y tengo el objetivo de
                completarla para continuar creciendo profesionalmente. Trabajo
                como desarrollador freelance, enfocado en desarrollo web, lo que
                me permite aplicar mis conocimientos y habilidades en una
                variedad de proyectos desafiantes.
              </p>
              <p class="card-text">
                Además de mi trabajo freelance, imparto clases de nivelación en
                la EPN, ayudando a otros estudiantes a alcanzar su máximo
                potencial académico. Me apasiona la informática, especialmente
                en los campos de análisis de datos e inteligencia artificial,
                áreas en las que me esfuerzo por seguir aprendiendo y
                desarrollando nuevas habilidades.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../../../assets/img/Titulo.jpeg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3>Tecnología Superior en Desarrollo de Software</h3>
              <h5>Escuela Politécnica Nacional - 2023</h5>
              <p class="card-text">
                Completé mi carrera universitaria en solo 5 semestres,
                demostrando un alto nivel de dedicación y compromiso. Durante
                mis estudios, trabajé como freelancer y realicé pasantías en
                diversas empresas, enfocándome en el desarrollo web. Esta
                experiencia práctica me permitió adquirir habilidades valiosas y
                aplicar mis conocimientos en proyectos reales.
              </p>
              <p class="card-text">
                El proyecto más destacado de mi carrera fue mi tesis, que
                consistió en el desarrollo de un ecommerce C2C (consumidor a
                consumidor). Este proyecto me permitió poner en práctica mis
                habilidades de programación y diseño web, y fue calificado con
                excelencia.
              </p>
              <p class="card-text">
                Como actividad extracurricular participé en un voluntariado en
                el que me dediqué a impartir clases de programación y desarrollo
                web a jóvenes interesados en ingresar al campo de la tecnología
                de manera voluntaria, gracias a mi colaboración con la Comisión
                de Salud y Educación del GAD Parroquial de La Merced. Esta
                experiencia me permitió no solo compartir mis conocimientos,
                sino también contribuir al desarrollo y empoderamiento de la
                juventud .
              </p>
              <ul>
                <li>
                  <i class="list-group-item"></i>
                  <strong>Link de tesis: </strong>
                  <a
                    href="https://bibdigital.epn.edu.ec/handle/15000/23798"
                    target="_blank"
                  >
                    aquí</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://scontent.fuio3-1.fna.fbcdn.net/v/t39.30808-6/241014296_105235815228669_8289589271123687814_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=EozL9wY0HxUAb7Q8iFP&_nc_ht=scontent.fuio3-1.fna&oh=00_AfCUN0N5PzYMsbwAWYUcn1HGavO_Ulua7pvRY4tWvF2xVQ&oe=6634E142"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3>Bachillerato General Unificado</h3>
              <h5>Unidad Educativa Leopoldo Mercado - 2019</h5>
              <p class="card-text">
                Me gradué del colegio con el título de Bachillerato General
                Unificado, donde adquirí conocimientos fundamentales para mi
                trayectoria universitaria. Durante mis estudios, participé en
                diversas actividades extracurriculares que despertaron mi
                interés por la tecnología y las materias relacionadas con el
                cálculo. Esta pasión me motivó a continuar mi educación en una
                institución de alta calidad como la EPN.
              </p>
              <p class="card-text">
                A lo largo de mi tiempo en el colegio, mantuve calificaciones
                satisfactorias y siempre demostré mis capacidades académicas. Mi
                participación en proyectos escolares, competencias académicas y
                eventos relacionados con tecnología me permitió desarrollar
                habilidades críticas para la resolución de problemas y el
                trabajo en equipo.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div class="col-2 d-none d-sm-block">
        <a
          href="#aboutme"
          class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
        >
          <i class="bi bi-arrow-left-circle"></i> Sobre Mí</a
        >
      </div>
      <div class="d-none d-sm-block">
        <a
          routerLink="/curriculum"
          class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
        >
          Mi Experiencia <i class="bi bi-arrow-right-circle"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <a class="btn btn-outline-success" href="/contacts"><strong><i class="bi bi-person"></i> CONTÁCTAME</strong> </a>
      </div>
    </div>
  </div>
</section>
<app-footer [secction]="secction"></app-footer>
