<app-nav />
<div class="content-home">
  <canvas id="animated-background"></canvas>
  <div class="content-banner">
    <img src="../../../assets/img/img-mia.png" alt="Miguel Muzo" />
    <h1>Miguel Muzo</h1>
    <h2>💻 | Estudiante de Ingeniería en Sistemas |</h2>
    <h2>Soy un apasionado al desarrollo Full Stack y análisis de datos de Ecuador 🛩️</h2>
    <div class="redes">
      <a href="https://www.linkedin.com/in/eduardo-miguel-muzo-6379b2234/" target="_blank">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://wa.me/593999763190?text=Hola%20Miguel" target="_blank">
        <i class="bi bi-whatsapp"></i>
      </a>
      <a href="https://github.com/Miguel-EMC" target="_blank">
        <i class="bi bi-github"></i>
      </a>
      <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=eduardomuzo123456@gmail.com" target="_blank">
        <i class="bi bi-envelope"></i>
      </a>
    </div>
    <button class="rounded-button">Get Started</button>
  </div>

  <section id="aboutme">
    <app-about-me></app-about-me>
  </section>

  <section id="education">
    <app-education></app-education>
  </section>

  <section id="projects">
<!--    <app-projects></app-projects>-->
  </section>

  <section id="skills">
    <app-skills></app-skills>
  </section>

  <section id="contact">
<!--    <app-contact></app-contact>-->
  </section>
</div>
