<app-nav></app-nav>
<section id="education" class="about" data-selected="true" data-label-id="0">
  <div class="container">
    <br />
    <hr />
    <div class="d-flex justify-content-between">
      <div class="col-2 d-none d-sm-block">
        <a
          href="#aboutme"
          class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
        >
          <i class="bi bi-arrow-left-circle"></i> Sobre Mí</a
        >
      </div>
      <div class="d-flex justify-content-center">
        <h2>Mi Eduación</h2>
        <i
          ><img
            src="https://cdn-icons-png.flaticon.com/512/10782/10782161.png"
            class="img-button"
          />
        </i>
      </div>
      <div class="d-none d-sm-block">
        <a
          routerLink="/curriculum"
          class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
        >
          Mi Experiencia <i class="bi bi-arrow-right-circle"></i
        ></a>
      </div>
    </div>

    <hr />
    <br />
    <div class="content">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://fis.epn.edu.ec/images/logo-FIS-sin-fondo.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3>Ingeniería en Computación</h3>
              <h5>Escuela Politécnica Nacional - Actualidad</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://fis.epn.edu.ec/images/logo-FIS-sin-fondo.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3>Ingeniería en Computación</h3>
              <h5>Escuela Politécnica Nacional - Actualidad</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://fis.epn.edu.ec/images/logo-FIS-sin-fondo.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3>Ingeniería en Computación</h3>
              <h5>Escuela Politécnica Nacional - Actualidad</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div class="col-2 d-none d-sm-block">
        <a
          href="#aboutme"
          class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
        >
          <i class="bi bi-arrow-left-circle"></i> Sobre Mí</a
        >
      </div>
      <div class="d-none d-sm-block">
        <a
          routerLink="/curriculum"
          class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
        >
          Mi Experiencia <i class="bi bi-arrow-right-circle"></i
        ></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
