<app-nav/>
<section id="home-primary">
    <div class="position-relative overflow-hidden p-3 p-md-7 m-md-5 text-center bg-body-tertiary">
        <div class="content-banner">
            <div class="container-img">
                <img src="../../../assets/img/img-mia.png" alt="">
            </div>
            <h1>Miguel Muzo</h1>
            <h2>💻| Desarrollador de Software | Analista de Datos |</h2>
            <h2>Soy un apasionado al desarrollador Full Stack y analisis de datos de Ecuador 🛩️</h2>
            <div class="redes">
                <a href="#"><i class="bi bi-linkedin"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-whatsapp"></i></a>
                <a href="#"><i class="bi bi-github"></i></a>
                <a href="#"><i class="bi bi-envelope"></i></a>
            </div>
        </div>
    </div>
</section>
<app-about-me></app-about-me>
<app-footer></app-footer>

