  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://cdn-icons-png.flaticon.com/512/2888/2888407.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Miguel Muzo
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto justify-content-end">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sobre Mí
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#aboutme">Sobre Mí</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/education" routerLinkActive="activate">Educación</a></li>
              <li><a class="dropdown-item" href="/curriculum">Experiencia</a></li>
              <!-- <li><a class="dropdown-item" href="#">Investigación</a></li> -->
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/skills">Habilidades</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/portfolio">Proyectos</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/services">Servicios</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/contacts">Contactos</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
