<div class="col">
  <div class="p-2 border border">
    <i
      ><img
        attr.src="{{detailsCardSkills.enlace}}"
        class="img-button"
      />
    </i>
    <br />
    <br />
    <div
      class="progress"
      role="progressbar"
      aria-label="Animated striped example"
      attr.aria-valuenow="{{ detailsCardSkills.porcentaje }}"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-info"
        attr.style="width: {{ detailsCardSkills.porcentaje }}%"
      >
        {{ detailsCardSkills.porcentaje }}%
      </div>
    </div>
  </div>
</div>
