<section id="aboutme">
  <div class="container">
    <!-- Título -->
    <h2 class="section-title">👨‍💻 Sobre mí</h2>
    <p class="section-subtitle">Conoce mi trayectoria y pasión por la tecnología</p>
    <!-- Contenido Principal -->
    <div class="about-content">
      <!-- Información -->
      <div class="info">
        <h3 class="info-title">Estudiante de Ingeniería en Ciencias de la Computación</h3>
        <p class="info-description">
          Soy un desarrollador Full Stack apasionado por la creación de soluciones tecnológicas innovadoras. Me especializo en aplicaciones web eficientes y escalables, utilizando las últimas tecnologías para ofrecer resultados de alta calidad. También tengo un fuerte interés en Inteligencia Artificial, Machine Learning y Deep Learning.
        </p>
        <!-- Datos Personales -->
        <ul class="info-list">
          <li><i class="bi bi-phone"></i> <strong>Celular:</strong> +593 999763190</li>
          <li><i class="bi bi-geo-alt"></i> <strong>Locación:</strong> Quito, Ecuador</li>
          <li><i class="bi bi-envelope"></i> <strong>Email: </strong> {{ email }}</li>
          <li><i class="bi bi-linkedin"></i> <strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/eduardo-miguel-muzo-6379b2234/" target="_blank"> Eduardo Miguel Muzo</a></li>
          <li><i class="bi bi-github"></i> <strong>Github: </strong> <a href="https://github.com/Miguel-EMC" target="_blank"> Miguel-EMC</a></li>
        </ul>
        <!-- Botón Único -->
        <button class="btn btn-primary" routerLink="/blog">
          Mi Blog <i class="bi bi-journal-text"></i>
        </button>
      </div>
      <!-- Imagen -->
      <div class="image">
        <img src="../../../assets/img/about-me.png" alt="Miguel Muzo" class="rounded-circle shadow" />
      </div>
    </div>
  </div>
</section>
